{
  "parser"  : "babel-eslint",
  "extends" : [
    "eslint:recommended",
    "standard",
    "standard-react",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "babel",
    "flowtype",
    "react"
  ],
  "env"     : {
    "browser" : true,
    "mocha": true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false,
    "expect" : false,
    "should" : false,
    "sinon"  : false,
    "mockStore": false,
    "jspm": false,
    "jsdom": false,
    "nock": false,
    "proxyquire": false
  },
  "rules": {
    "max-len": [2, 120, 2],
    "no-var": 2,
    "no-console": 2,
    "prefer-const": 2,
    "object-curly-spacing": [2, "always"],
    "generator-star-spacing": [2, "both"],
    "react/jsx-no-bind": 0,
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1
  }
}
